<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOBCART</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        {% for x in products %}
        {% if image.url %}
            <img src="{{ x.image.url }}" alt="">
        {% endif %}
            <p>{{ x.product_name}}</p>
            <p>{{ x.price }}</p>
            <p>{{ x.battery }}</p>
        {% endfor %}
    </div>
    <div>esngin</div>
</body>
</html>